{namespace ns=NITSAN\NsHelpdesk\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="content">
    <f:if condition="{isBackend}">
        <f:then>
            <f:be.pageRenderer
                 includeJavaScriptModules="{
                    0:'@nitsan/ns-helpdesk/Jquery.js',
                    7:'@nitsan/ns-helpdesk/nshelpdesk.js'
                }"
            />
        </f:then>
    </f:if>
    <f:if condition="{isShow}">
        <f:then>
            <div class="ns_helpdesk-main-container container">
                <div class="row">
                    <div class="col-12 ns_helpdesk--top">
                        <div class="ns_helpdesk--top-left"></div>
                        <div class="ns_helpdesk--top-right">
                            <ul>
                               
                                <li>
                                    <f:if condition="!{backend}">
                                        <f:then>
                                            <f:link.typolink parameter="{settings.list.createPageId}" class="c-btn c-btn-secondary"><f:translate key="newticket"/></f:link.typolink>
                                            <f:variable name="salName" value="{f:if(condition:'{userDetails.first_name}',then:userDetails.first_name,else: userDetails.username)}" />
                                        </f:then>
                                    </f:if>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <f:if condition="{tickets}">
                        <f:then>
                            <article class="col-lg-9 col-md-8">
                                <div class="ns_helpdesk--tickets">
                                    <f:for each="{tickets}" as="ticket">
                                        <f:link.action action="show" class="ns_helpdesk--ticket" arguments="{tickets:ticket}">
                                            <div class="ns_helpdesk--ticket-headline">
                                                <h3>{ticket.ticketSubject -> f:format.crop(maxCharacters: 50)}</h3>
                                                <span class="tag" style="background-color:{ticket.ticketStatus.statusColor};">{ticket.ticketStatus.statusTitle}</span>
                                            </div>
                                            <div class="ns_helpdesk--ticket-text">
                                                <f:format.raw>{ticket.ticketText -> f:format.crop(maxCharacters: 50)}</f:format.raw>
                                            </div>
                                            <div class="ns_helpdesk--ticket-list">
                                                <ul>
                                                    <li>
                                                        <f:translate key="postedon"/>: {ticket.ticketPostDate -> f:format.date(format:'j')}<sup>{ticket.ticketPostDate -> f:format.date(format:'S')}</sup> {ticket.ticketPostDate -> f:format.date(format:'M Y - H:i A')}
                                                    </li>
                                                    <li>
                                                        <f:translate key="assignedto"/> : {f:if(condition: ticket.assigneeId.realName, then: ticket.assigneeId.realName, else: ticket.assigneeId.username)}
                                                    </li>
                                                </ul>
                                            </div>
                                        </f:link.action>
                                    </f:for>
                                    <f:if condition="{backend}">
                                        <f:then>
                                            <f:render partial="FrontEnd/Pagination" arguments="{_all}"/>
                                        </f:then>
                                        <f:else>
                                            <f:render partial="FrontEnd/Pagination" arguments="{_all}"/>
                                        </f:else>
                                    </f:if>
                                </div>
                            </article>
                            <f:link.action action="list" pageType="741852" id="ajaxFilter"/>
                        </f:then>
                        <f:else>
                            <article class="col-lg-9 col-md-8">
                                <div class="ns_helpdesk--tickets">
                                    <div class="ns-helpdesk-alert ns-helpdesk-alert-info">
                                        <h4 class="ns-helpdesk-alert-heading"><f:translate key="helpdesk.salutation" arguments="{name: '{salName -> f:format.case(mode: \'capital\')}'}" /></h4>
                                        <p><f:translate key="helpdesk.noanytickets" /></p>
                                        <hr>
                                        <p><f:translate key="helpdesk.end.salutation" /></p>
                                    </div>
                                </div>
                            </article>
                        </f:else>
                    </f:if>
                </div>
            </div>
        </f:then>
        <f:else>
            <div class="ns_helpdesk-main-container container">
                <div class="row">
                    <div class="col-12 ns_helpdesk--top">
                        <div class="ns_helpdesk--top-left"></div>
                        <div class="ns_helpdesk--top-right"></div>
                    </div>
                    <article class="col-lg-9 col-md-8">
                        <div class="ns_helpdesk--tickets">
                            <div class="ns-helpdesk-alert ns-helpdesk-alert-info">
                                <h4 class="ns-helpdesk-alert-heading"><f:translate key="helpdesk.opps" /></h4>
                                <f:if condition="{settings.loginPage}">
                                    <f:then>
                                        <p><f:format.raw><f:translate key="helpdesk.notloginticket" arguments="{0:'{f:uri.page(pageUid: \'{settings.loginPage}\')}'}" /></f:format.raw></p>
                                    </f:then>
                                    <f:else>
                                        <p><f:translate key="helpdesk.configuration.massage" /></p>
                                    </f:else>
                                </f:if>
                                <hr>
                                <p><f:translate key="helpdesk.end.salutation" /></p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </f:else>
    </f:if>
</f:section>
</html>