{namespace nshd=NITSAN\NsHelpdesk\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<div class="ns-helpdesk-alert ns-helpdesk-alert-danger" style="display: none">
    <h4 class="ns-helpdesk-alert-heading"><f:translate key="opps" /></h4>
    <p><f:translate key="nshelpdesk.userRegistration.formgroupError" /></p>
</div>
<div class="ns-form-group">
    <label><f:translate key="nshelpdesk.userRegistration.field.username" /><span class="mandatory">*</span></label>
    <f:form.textfield placeholder="{f:translate(key: 'nshelpdesk.userRegistration.field.username')}" class="validate-this" property="username" />
    <div class="error-msg error-required"><p><f:translate key="nshelpdesk.field.required" /></p></div>
</div>
<div class="ns-form-group">
    <label><f:translate key="nshelpdesk.userRegistration.field.firstName" /><span class="mandatory">*</span></label>
    <f:form.textfield placeholder="{f:translate(key: 'nshelpdesk.userRegistration.field.firstName')}" class="validate-this" property="firstName"  />
    <div class="error-msg error-required"><p><f:translate key="nshelpdesk.field.required" /></p></div>
</div>
<div class="ns-form-group">
    <label><f:translate key="nshelpdesk.userRegistration.field.lastName" /><span class="mandatory">*</span></label>
    <f:form.textfield placeholder="{f:translate(key: 'nshelpdesk.userRegistration.field.lastName')}" class="validate-this" property="lastName" />
    <div class="error-msg error-required"><p><f:translate key="nshelpdesk.field.required" /></p></div>
</div>
<div class="ns-form-group">
    <label for="user-email"><f:translate key="nshelpdesk.userRegistration.field.email" /><span class="mandatory">*</span></label>
    <f:form.textfield placeholder="{f:translate(key: 'nshelpdesk.userRegistration.field.email')}" class="validate-this email-validation" id="user-email" property="email" />
    <div class="error-msg error-required"><p><f:translate key="nshelpdesk.field.required" /></p></div>
    <div class="error-msg error-valid"><p><f:translate key="nshelpdesk.mail_validation" /></p></div>
</div>
<div class="ns-form-group">
    <label for="user-password"><f:translate key="nshelpdesk.userRegistration.field.password" /><span class="mandatory">*</span></label>
    <f:form.password class="validate-this password" id="user-password" property="password" />
    <div class="error-msg error-required"><p><f:translate key="nshelpdesk.field.required" /></p></div>
</div>
<div class="ns-form-group">
    <label for="user-password"><f:translate key="nshelpdesk.userRegistration.field.confirmPassword" /><span class="mandatory">*</span></label>
    <f:form.password class="validate-this password_repeat" id="user-password-repeat" name="password_repeat" />
    <div class="error-msg error-required"><p><f:translate key="nshelpdesk.field.required" /></p></div>
    <div class="error-msg error-valid"><p><f:translate key="nshelpdesk.confirm_validation" /></p></div>
</div>
<div class="ns-form-group googlecaptcha">
    <f:if condition="{settings.captchaKey}">
        <f:then>
            <div class="g-recaptcha" id="googlecaptcha" data-sitekey="{settings.captchaKey}"></div>
            <div class="gcaptcha error-msg error-required"><p><f:translate key="nshelpdesk.field.required" /></p></div>
        </f:then>
        <f:else>
            <p class="error-msg-red"><f:translate key="google_captcha_key_required" /></p>
            <div class="error-msg error-valid"><p><f:translate key="nshelpdesk.add_sitekey" /></p></div>
        </f:else>
    </f:if>
</div>
<f:form.hidden class="form_userGroup" property="usergroup.0" value="{settings.userRegistration.defaultUserGroup}" />
</html>